<div class="container">
        
        <mat-tab-group>
            <mat-tab label="Sing In">
                <form [formGroup]="SingInForm" (ngSubmit)="onLogin()">
                    <div class="inputs">
                        <label>Email address</label>
                        <input type="email" placeholder="example@test.com" formControlName="SIEmail" />
                        <label>Pasword</label>
                        <input type="password" placeholder="Enter your pasword" formControlName="SIPassword" />
                        <button type="submit">Sing in</button>                
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="Sing Up">
                <div>
                    <div class="col2">
                        <div class="inputs">
                            <label>Name</label>
                            <input type="text" placeholder="Your name" />
                            <label>Last Name</label>
                            <input type="text" placeholder="Your lastname" />
                            <label>ID</label>
                            <input type="text" placeholder="Your number" />
                        </div>
                    </div>
                    <div class="col2">
                        <div class="inputs">
                            <label>Second name</label>
                            <input type="text" placeholder="Your name" />
                            <label>Phone</label>
                            <input type="text" placeholder="Your number" />                            
                        </div>
                    </div>
                    <div class="singUpBotton">
                        <label>Create yourPasword</label>
                        <input type="password" placeholder="Enter your pasword" />
                        <button type="submit">Sing up</button> 
                    </div>
                    
                </div>
            </mat-tab>
        </mat-tab-group>
  </div>
